@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section#home,
section#about,
section#experience,
section#projects,
section#skills {
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

section#home {
    margin-top: 0;

    div.home-container {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        z-index: 1;
        padding: 35px;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        min-width: 85%;

        div.intro {
            letter-spacing: 3px;
        }

        div.typing-effect {
            font-size: 30px;
            padding-top: 20px;

            @media (max-width: 49em) {
                font-size: 20px;
            }
        }

        @media (max-width:49em) {
            font-size: 30px;
            padding: 15px;
        }
    }

    .download-cv {
        padding-top: 30px;
        margin-bottom: 20px;

        .icon {
            position: relative;
            top: 2px;
        }

        .button {
            color: #0984e3;
            border: 2px solid #0984e3;
            background-color: #fff;
            padding: 8px 15px 8px 15px;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            transition: 0.3s;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #0984e3;
                border: 2px solid #0984e3;
                text-decoration: none;
                transform: scale(1.1);
            }
        }
    }

    .social-buttons{
        a{
            color: #0984e3;
            background-color: #fff;
            padding: 7px;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            transition: 0.3s ease-in-out;
            font-size: 40px;
            border-radius: 50%;
            cursor: pointer;
            height: 55px;
            width: 55px;

            &:hover {
                color: #fff;
                background-color: #0984e3;
                text-decoration: none;
                transform: scale(1.1);
            }

            &:first-child, &:nth-child(2){
                margin-right: 7px;
            }
        }
        
    }

}






section#about {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: rgba(228, 228, 228, 0.3);
}

div.about-me {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 80%;
    text-align: justify;

    img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        flex-shrink: 1;
    }

    .content {
        font-size: 17px;
        line-height: 1.5;
        max-width: 60%;

        .heading {
            font-size: 25px;
            font-family: 'Poppins', sans-serif;
            display: block;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }

    @media (max-width:49em) {
        flex-direction: column;
        max-height: 100%;
        max-width: 100%;

        .heading {
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 10px !important;
        }

        .content {
            max-width: 75%;
            font-size: 16px;
            word-wrap: break-word;
            line-height: 1.3;
        }


        img {
            height: auto;
            width: 100%;
            max-width: 200px;
            margin-top: 10px;
        }
    }

}

section#experience {
    padding: 10px;
    padding-bottom: 35px;
    background-color: white;

    div.main-content {
        margin: 0 auto;
        max-width: 80%;
    }

    h3.heading {
        font-size: 25px;
        margin-left: 20px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 4px;

        @media screen and (max-width: 49em) {
            // text-align: center;
            font-size: 20px;
        }
    }
}

section#projects {
    width: 100%;
    padding: 10px;
    background-color: rgba(228, 228, 228, 0.3);

    div.main-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3.heading {
            font-size: 25px;
            margin-left: 20px;
            font-family: 'Poppins', sans-serif;
            text-align: left;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 4px;

            @media screen and (max-width: 49em) {
                text-align: center;
                font-size: 20px;
            }
        }

        div.cards {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            justify-content: center;
            justify-items: center;
            row-gap: 5px;

            div.card {
                max-width: 330px;
                height: 350px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                overflow: hidden;
                transition: transform 0.3s ease-in-out;
                margin: 15px;
                padding: 10px;
                margin-bottom: 20px;
                background-color: white;

                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                    transition: transform 0.3s ease-in-out;
                }

                &:hover .card-content:hover {
                    transition: transform 0.3s ease-in-out;
                }

                img {
                    height: 250px;
                    width: 100%;
                    object-fit: cover;
                }

                h3 {
                    letter-spacing: 1px;
                    margin: 5px;
                    font-size: 17px;
                }

                p.project-stack {
                    color: gray;
                    opacity: 0.9;
                    margin-left: 5px;
                    margin-bottom: 15px;
                    font-size: 14px;
                }

                .card-content {
                    padding: 5px;
                    flex-grow: 1;

                    p.description {
                        line-height: 1.4;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    a.github {
                        width: 50%;
                        display: flex;
                        margin-top: 15px;
                        padding: 10px;
                        background-color: #fff;
                        color: #0984e3;
                        border: 1px solid #0984e3;
                        text-decoration: none;
                        border-radius: 5px;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        transition: background-color 0.3s ease-in-out;
                        font-size: 14px;

                        &:hover {
                            background-color: #0984e3;
                            color: #fff;
                        }
                    }
                }

            }

            @media screen and (min-width: 50em) {
                grid-template-columns: repeat(3, 1fr);
                /* Display 3 cards in a row on larger screens */
            }

            @media screen and (max-width:1169px) {
                width: 100%;
            }
        }
    }

    .load-more {
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            position: relative;
            top: 2px;
        }

        .button {
            color: #0984e3;
            border: 2px solid #0984e3;
            background-color: #fff;
            padding: 8px 15px 8px 15px;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            transition: 0.3s;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #0984e3;
                border: 2px solid #0984e3;
                text-decoration: none;
                transform: scale(1.1);
            }

            span.text {
                position: relative;
                bottom: 4px;
            }
        }
    }
}

section#skills {
    padding: 10px;
    background-color: white;

    h3.heading {
        font-size: 25px;
        margin-left: 20px;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;

        @media screen and (max-width: 49em) {
            font-size: 20px;
        }
    }

    div.main-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:49em) {
            flex-direction: column;
        }
    }

    div.skills-container {
        width: 60%;
        margin-top: 3rem;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 900px) {
            width: 100%;
            flex-direction: column;
        }
    }

    div.skills-list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-right: 2rem;

        @media screen and (max-width: 900px) {
            margin-right: 0;
            justify-content: center;
            align-items: center;
        }
    }

    div.skills-item {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 1rem;
        transition: all 0.3s ease-in-out;

        div {
            width: 96px;
            height: 96px;
            border-radius: 50%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 90%;
                height: 90%;

            }

            &:hover {
                box-shadow: 0 0 25px #fef4f5;
            }

            @media screen and (min-width: 2000px) {
                width: 150px;
                height: 150px;
            }

            @media screen and (max-width: 450px) {
                width: 70px;
                height: 70px;
            }
        }

        p {
            font-weight: 500;
            margin-top: 0.5rem;
        }

        @media screen and (min-width: 2000px) {
            margin: 1rem 2rem;

            p {
                margin-top: 1rem;
            }
        }
    }

    div.certifications-container {
        font-size: 16px;
        margin-top: 1.5rem;

        .certifications-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin-bottom: 10px;

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;

                .certification-title {
                    margin-bottom: 5px;
                }
            }

            .certification-title {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                letter-spacing: .2px;
                text-decoration: none;
                cursor: pointer;
                color: black;

                &:hover {
                    color: #0984e3;
                }

            }

            .certification-year {
                flex-shrink: 0;
                margin-left: 10px;
                color: grey;
                opacity: .9;

                @media screen and (max-width:767px) {
                    margin-left: 0;
                }

            }
        }

    }
}

section#education {
    padding: 10px;
    background-color: rgba(228, 228, 228, 0.3);

    h3.heading {
        font-size: 25px;
        margin-left: 20px;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;

        @media screen and (max-width: 49em) {
            font-size: 20px;
        }
    }

    div.main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;

        div.education-list {
            display: grid;
            gap: 30px;

            justify-content: center;
            align-items: center;
            margin-top: 30px;



            div.education-item {
                display: grid;
                grid-template-columns: 150px 1fr;
                gap: 20px;
                align-items: center;

                @media screen and (max-width: 49em) {
                    grid-template-columns: 1fr;
                }


                div.education-icon svg {
                    width: 100%;
                    height: 150px;
                }

                div.education-icon img {
                    width: 225px;
                    height: 225px;
                }

                div.education-info {
                    font-size: 18px;
                    line-height: 1.4;
                    padding: 5px;

                    @media screen and (max-width:49em) {
                        font-size: 16px;
                        text-align: center;
                    }

                    p.degree {
                        letter-spacing: .4px;
                        color: #0984e3;
                    }

                    p.title {
                        letter-spacing: .25px;
                        color: #0984e3;
                    }

                    p.year,
                    p.gpa {
                        font-size: 17px;

                        @media screen and (max-width:49em) {
                            font-size: 15px;
                        }

                    }

                    p.gpa {
                        letter-spacing: .3px;
                    }

                    p.coursework {
                        color: grey;
                        opacity: .9;
                        font-size: 16px;

                        @media screen and (max-width:49em) {
                            font-size: 14px;
                        }
                    }
                }


            }
        }
    }

    div.education-list div#\32 {
        display: flex;
        justify-content: center;
    }
}

section#contact-me {
    // min-height: 35vh;
    padding: 10px;

    h3.heading {
        font-size: 25px;
        margin-left: 20px;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;

        @media screen and (max-width: 49em) {
            font-size: 20px;
        }
    }

    div.top-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 10px;

        @media screen and (max-width: 49em) {
            flex-direction: column;
        }

        div.item {
            display: flex;
            flex-direction: row;
            margin: 15px;

            div.icon {
                margin-right: 5px;

                img {
                    height: 55px;
                    width: 55px;
                    margin-right: 5px;
                    position: relative;
                    top: 2px;

                    @media screen and (max-width:49em) {
                        height: 50px;
                        width: 50px;
                    }
                }
            }

            hr {
                border-color: rgba(0, 0, 0, 0.40);
                border-width: .95px;
            }

            div.text {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }


        }
    }

    div.bottom-container {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin: 5px;
            color: #000;
            // opacity: .75;

            svg {
                height: 50px;
                width: 50px;
            }

            &:hover {
                color: #0984e3;
                opacity: .9;
                scale: 1.1;
                transition: 0.3 ease-in-out;
            }
        }
    }

}

div.footer {
    width: 100vw;
    padding: 10px;
    background-color: #f7f7f7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

    svg {
        font-size: 15px;
        margin-right: 5px;

        @media screen and (max-width:49em) {
            font-size: 18px;
        }
    }
}